@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* == COLOR == */

:root{
    --color-black: #333;
    --color-white: #FFF;

    --color-primary: "";
    --color-secondary: "";
    --color-light: "";

    --color-side: #f9faff;

    --color-border: #dad6d6;

}

/* == RESET == */

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    line-height: 1.4;
    font-size: 1rem;
    color: var(--color-black);
    font-family: "Open Sans", sans-serif, serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: #ebebeb;
}

a,
img, 
input, 
span, 
button{
    display: block;
    font-family: "Open Sans", sans-serif, serif;
}

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

button,
input{
    background: none;
    border: none;
}

h1,
h2,
h3,
h4{
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1;
}

p{
    line-height: 1.3;
    margin-bottom: 1rem;
    font-size: clamp(1rem, 1.8rem, 1.1rem);
}

ul, li{
    list-style-type: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* APP CONTAINER */

.sidebare{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100vh;
    width: 0;
    left: -100px;
    background-color: #101213;
    z-index: 100;
    transition: width .3s ease, left .3s ease;
}

.sidebare {
    color: #9ea0a2;
}

.sidebare a,
.sidebare li
.sidebare ul{
    font-weight: 400;
}

.sidebare .container__sidebare{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem .2rem;
    overflow: hidden;
    transition: padding .3s ease;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border: 1px solid yellow; */
}

.rows_nav{
    position: relative;
    /* border: 1px solid red; */
}

.rows_nav:last-child{
    margin-top: 3rem;
}

.rows_nav ul{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    gap: .5rem;
}

.rows_nav li,
.rows_nav .link_nav{
    position: relative;
    width: 100%;
    height: auto;
    color: #808284;
}

.rows_nav .link_nav{
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: all .3s ease;
}

.rows_nav .icons{
    position: relative;
    height: 40px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.rows_nav .name_link{
    display: none;  
}

.nav__header{
    color: #FFF;
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: .7rem;
}

.link_nav.active{
    color: var(--color-white);
    background-color: #27282c;
    background-color: #27282c91;
    border: 2px solid #242628;
}

.rows_nav .link_nav:hover{
    background-color: #27282c;
} 


/* ************ HEADER ************** */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 99;
    background-color: red;
    background-color: #FFFF;
}

.header .container__header{
    position: relative;
    width: 100%;
    height: 100%;
}

.navbar{
    position: relative;
    height: 100%;
    width: 100%;
    padding-inline: .6rem;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.hamb{
    position: relative;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #eeeeee;
    transition: all .3s ease;
    z-index: 1000;
}

.hamb:hover{
    transform: scale(.9);
    transition: all .3s ease;
}

.hamb .bare{
    position: relative;
    width: 20px;
    height: 3px;
    border-radius: 8px;
    background-color: #303030;
}

.hamb .bare::before,
.hamb .bare::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    border-radius: 8px;
    background-color: #303030;
    transform: translateY(6px);
}

.hamb .bare::after{
    width: 17px;
    transform: translateY(-6px);
}



/* CARD GRID */

.card_grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

 .items{
    position: relative;
    background-color: #26c970a3;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, .1);
    transition: transform .3s ease;
}

/*
.items:nth-child(1){ border-color: #744cf4;}
.items:nth-child(2){ border-color: #fda649;}
.items:nth-child(3){ border-color: #4cd5ff;}
.items:nth-child(4){ border-color: #26c970;}

.items::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: transparent;
}

.items.un::before{background-color: #744cf4;}
.items.deux::before{background-color: #fda649;}
.items.trois::before{background-color: #4cd5ff;}
.items.quatre::before{background-color: #26c970;}

*/

.card_title_header{
    position: relative;
    width: 100%;
    padding-block: 1rem;
}

.card_title_header h2{
    font-weight: 500;
}

.container_items h2{
    /* font-size: 5rem; */
}

.items .container_items{
    display: grid;
}

.container_items .params{
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    gap: .5rem;
}

.params .icon{
    height: 30px;
    width: 30px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.items.un .icon{ background-color: #744cf4;}
.items.deux .icon{ background-color: #fda649;}
.items.trois .icon{ background-color: #4cd5ff;}
.items.quatre .icon{ background-color: #26c970;}

.icon i{
    color: #FFF;
    font-size: .8rem;
}

.container_items{
    padding: 1rem;
}

.items:hover{
    transform: translateY(-4px);
}


/* MAIN CONTAINER */

.container{
    position: relative;
    padding-inline: .6rem;
    transition: width .3s ease, padding .3s ease;
}

.container__content{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 90px;
    /* background-color: yellow; */
}

/* CAS OU ON A PAS DE HEADER La Hauteur de PADDING */
.container__content.reset_h{
    padding-top: 40px;
}   

.container__content,
.navbar{
    max-width: 1300px;
    max-width: 1540px;
    margin: 0 auto;
}

/* ********* LOGIQUE ******* */

.container.container_flop{
    padding: 1rem;
}

.container__header.container_flop{
    padding-inline: 1rem;
}

.container.container_flop,
.container__header.container_flop{
    width: 90%;
    margin: 0 auto;
}

/* AU CLICK SUR HAMB */

.sidebare.visible{
    width: 280px;
    left: 0;
}

.sidebare.visible .container__sidebare{
    padding: 1rem 1rem;
}

.sidebare.visible .rows_nav .icons{
    height: 40px;
    width: 40px;
}

.sidebare.visible .rows_nav .name_link{
    display: block;  
}  


@media (min-width: 768px){
    .sidebare{
        width: 60px;
        left: 0;
    }

    .sidebare .container__sidebare{
        padding: 1rem .4rem;
    }

    .nav__header{
        display: none;
    }

    /* MAIN CONTAINER */

    .container__header,
    .container{
        padding-left: calc(60px + 1rem);
    } 
    .container__header{ padding-right: .6rem;}  
    .navbar{
        padding-inline: 0;
    }

    /* NAVBAR HAMBURGEUR */

    .hamb{
       display: none;
    }

}



@media (min-width: 1024px){
    .sidebare{
        width: 280px;
        left: 0;
    }

    .sidebare .container__sidebare{
        padding: 1rem 1rem;
    }

    .nav__header{
        display: block;
    }

    .rows_nav .icons{
        height: 40px;
        width: 40px;
    }

    .rows_nav .name_link{
        display: block;  
    }

    /* MAIN CONTAINER */

    .container__header,
    .container{
        padding-left: calc(280px + 1rem);
    }   
}


.btn{
    position: relative;
    width: max-content;
    padding: .5rem 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    transition: all .3s ease;
}

.btn-primary{
    background-color: blue;
    color: #FFF;
}

.btn-secondary{
    background-color: transparent;
    border: 1px solid blue;
    color: blue;
}

.btn-circle{
    height: 45px;
    width: 45px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #DDD;
}

.btn-primary:hover{
    opacity: .4;
}

.btn-secondary:hover{
    background-color: blue;
    color: #FFF;
    opacity: .7;
}

.btn-circle:hover{
    transform: scale(.9);
}

